In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [2]:
sp500 = yf.Ticker("2558.T")
allcountry = yf.Ticker("2559.T")
nikkei = yf.Ticker("^N225")
topix = yf.Ticker("1308.T")
fang = yf.Ticker("316A.T")

In [3]:
days = 10
hist = fang.history(period=f'{days}d')
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2025-01-27 00:00:00+09:00,1982.0,1984.0,1948.0,1952.0,2225419,0.0,0.0,0.0
2025-01-28 00:00:00+09:00,1929.0,1955.0,1925.0,1955.0,1277297,0.0,0.0,0.0
2025-01-29 00:00:00+09:00,1991.0,2002.0,1988.0,2001.0,909362,0.0,0.0,0.0

In [4]:
hist.index

DatetimeIndex(['2025-01-27 00:00:00+09:00', '2025-01-28 00:00:00+09:00',
               '2025-01-29 00:00:00+09:00', '2025-01-30 00:00:00+09:00',
               '2025-01-31 00:00:00+09:00', '2025-02-03 00:00:00+09:00',
               '2025-02-04 00:00:00+09:00', '2025-02-05 00:00:00+09:00',
               '2025-02-06 00:00:00+09:00', '2025-02-07 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Tokyo]', name='Date', freq=None)

In [5]:
hist.index = hist.index.strftime("%d %B %Y")

In [6]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
27 January 2025,1982.0,1984.0,1948.0,1952.0,2225419,0.0,0.0,0.0
28 January 2025,1929.0,1955.0,1925.0,1955.0,1277297,0.0,0.0,0.0
29 January 2025,1991.0,2002.0,1988.0,2001.0,909362,0.0,0.0,0.0

In [7]:
hist = hist[['Close']]
hist.columns = ['FANG+']

In [9]:
hist.T

Date,27 January 2025,28 January 2025,29 January 2025,30 January 2025,31 January 2025,03 February 2025,04 February 2025,05 February 2025,06 February 2025,07 February 2025
FANG+,1952.0,1955.0,2001.0,1960.0,1956.0,1900.0,1934.0,1929.0,1951.0,1939.0